<div class="portfolio-intro font-dejavu">
  <div>
    <h1>How I do it</h1>
    <p>Having worked extensively as both a software developer and systems administrator, I am very comfortable with creating software platforms from scratch.
    <ul>
    <li>Need to spec out, provision or upgrade physical or virtual servers? I have installed and configured numerous servers running Windows Server or Ubuntu Linux.</li>
    <li>Need to spec out, provision or upgrade physical or virtual servers? I have installed and configured numerous servers running Windows Server or Ubuntu Linux.</li>
    </ul>
    </p>
  </div>
</div>
