<div class="portfolio-intro font-dejavu">
  <div>
    <h1 class="portfolio-section-header">Who I am</h1>
    <ul>
      <li>Name: Nathan Reid</li>
      <li>Location: Austin, TX</li>
      <li>Occupation: Software Developer</li>
      <li>Experience: 12+ years</li>
      <li>Degree: BBA in Computer Information Systems</li>
    </ul>
  </div>
  <div class="portfolio-intro-avatar"><img class="portfolio-intro-avatar" src="/images/gravatar.jpg"></div>
  <div>
    <h1 class="portfolio-section-header">What I do</h1>
    <ul>
      <li>Design, implement, and maintain software & hardware solutions</li>
      <li>Improve process efficiency and reliability by iteratively automating routine tasks and pruning unnecessary steps</li>
      <li>Proactively collaborate with coworkers across job roles to enhance both the employee experience and the end product</li>
      <li>Mentor junior developers and receive mentorship in turn</li>
      <li>Adapt to using any tech stack that is required to get the job done</li>
    </ul>
  </div>
</div>
