@import './variables';

body {
  background-color: $backgroundColor;
}

h1, h2, h3, h4, h5, h6 {
  color: $blue;
}

@media (min-width: 56em) {
  .container {
    max-width: 51.2rem;
  }
}

.font-dejavu, .font-dejavu * {
  font-family: "dejavu_sans_monobook";
}

.panel {
  background-color: $white;
  color: $grayOnWhite;
}
