.portfolio-item-title {
  font-weight: bold;
}

.portfolio-item-link-github {
  background-image: url(/images/github-mark.png);
  width: 24px;
  height: 24px;
  display: inline-block;
  background-size: contain;
}

.portfolio-item-link-go2 {
  color: #2991d6;
  width: 24px;
  height: 24px;
}